@model IEnumerable<AuctionApplication.Models.Bid>

@foreach (var bid in Model)
{
    <div class="d-flex justify-content-between">
        <span>@bid.User?.UserName</span>
        <span>$ @bid.Price.ToString("N2")</span>
    </div>
}
