@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav d-flex gap-1 align-items-center justify-content-start">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item hover-accent icon-hover-accent p-1 rounded">
            <a class="nav-link text-dark d-flex gap-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fa-solid fa-user icon-20"></i>
            </a>
    </li>
    <li class="nav-item  hover-accent icon-hover-accent p-1 rounded">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fa-solid fa-right-from-bracket icon-20"></i>
                </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
