@model IEnumerable<AuctionApplication.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h2>Active Listings</h2>

<p><a asp-action="Create">Create New</a></p>

@foreach (var listing in Model)
{
    <div>
        <div>
            <h5><a asp-action="Details" asp-route-id="@listing.Id">@listing.Title</a></h5>
            <div>@listing.Description</div>
            <div>Bid: $@listing.Price.ToString("N2")</div>
            <div>Listed by: @listing.User?.Email</div>
        </div>
    </div>
}
@if (!Model.Any())
{
    <p>No Auctions Available</p>
}

